/** CSS RESET */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: url('BG.jpg');
    background-repeat: no-repeat;
    background-size: 1700px 1000px;
    height: auto;
}

/**----------------- HEADER STYLES -----------------*/
.header{

    position: sticky;
    background-color: #876445;
    opacity: 90%;
    margin: 10px 0px;
    /* padding: 5px 20px; */
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 1;
}
.head-cont{
    margin: 0px 10px;
    height: 60px;
    display: inline;
}

/**----- HEADER LEFT PART STYLES -----*/
#left{
    color: white;
}
#left a{
    display: inline;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.COMPANY{
    display: inline;
    color: #98D083;
    font-weight: bolder;
    font-size: 30px;
    margin: 0px;
    position: absolute;
    top: 15px;
}

/**----- HEADER MIDDLE PART STYLES -----*/
#mid{
    color: white;


}
.navbar{
    padding: 0px 200px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navbutton{
    justify-self: center;
}
.navbutton a{
    font-size: 25px;
    text-decoration: none;
    color: #EDDFB3;
}
.navbutton:hover a{
    opacity: 50%;
}

/**----- HEADER RIGHT PART STYLES -----*/
#right{
    color: white;
    text-align: center;
    vertical-align: middle;
}
.right-buttons{
    color: white;
    float: right;
    text-decoration: none;
    margin: 15px 0px;
    padding: 4px 10px;
    font-weight: bold;
    cursor: pointer;
    background:none;
    border: none;
    font-size: 20px;
}
/**----------------- CONTENT STYLES ----------------- */
.content{
    display: inline-block;
    color: rgb(227 191 172);
    font-weight: bold;
    width: 500px;
    height: 260px;
    position: absolute;
    font-size: 30px;
    border: 5px solid #98D083;
    border-radius: 15px;
    top: 295px;
    left: 30px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.content button{
    cursor: pointer;
}
.TextBoxes{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
.back a{
    text-decoration: none;
    color: black;
}
/* color: rgb(227 191 172); */
